.detail-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.detail-title {
    font-weight: bold;
    width: 150px;
}

.table th.fit,
.table td.fit {
    white-space: nowrap;
    width: 1%;
}