<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
<div class="login-container">
    <h2>Đăng nhập</h2>
    <form action="#" th:action="@{/login}" th:object="${employee}" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username"
                   th:value="${employee.username}">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password"
                   th:value="${employee.password}">
        </div>
        <div class="error-container"></div>
        <button type="submit" class="login-btn">Login</button>
        <a class="forgot-password">Quên mật khẩu</a>
    </form>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function () {
        const back = [[${back}]];
        console.log(back);
        if (back) {
            window.alert('Sai thông tin đăng nhập, vui lòng thử lại')
        }
    });
    /*]]>*/
</script>
</body>

</html>